page-chef3 {
    img{
        height: 70vh;
        width: auto;
        margin: auto;
        display: block;
    }
    .colors{
        background-color: #EAE3EA;
        font-family: 'Lucida Sans';

    }
}
